<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Data Analytics Lab Meetings 2024</h2>
                </div>
            </div>
            <div class="row container">
            
            <!-- 
      <p>Topic; <a href="/2016">Link to 2016</a> 
                </p>
-->


<span style="font-size: 20px;">
  Welcome to the Data Analytics Lab Meetings in Ovronnaz! We are delighted to have you join us for this engaging and insightful event organized by Prof. Stéphane Guerrier and the Data Analytics lab. This conference promises to be a vibrant platform for exchanging ideas and exploring the latest advancements in the field of statistics. Set against the picturesque backdrop of Ovronnaz in the Swiss Alps, this conference offers not only intellectual stimulation but also a chance to unwind and connect with fellow participants in a serene environment. We extend our sincere gratitude to all the speakers, sponsors, and attendees whose contributions make this event possible. Together, let's make this conference a memorable and enriching experience.
  </span></p>






                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style>

     
              
            </div>
        </div>
    </section>