
<section id="previous_ed" class="bg-light-gray">
       
    <div class="container">
        <div class="col-lg-12 text-center">
              <h2 class="section-heading">Previous Editions</h2>
        </div>
        <!-- Link to a relative image -->
        <p>
          
              <style>
        /* CSS styles to control the layout */
        .conference-title {
            display: inline-block;
            margin-right: 10px; /* Adjust the spacing between elements */
            font-weight: bold; /* Make the title bold */
        }

        .conference-dates {
            display: inline-block;
            font-size: 1.5em; /* Adjust the font size of the dates */
        }
             .center-text {
            text-align: center;
        }
        
        
        
    </style>
<!--
    <h1 class="conference-title">2023</h1>
    <h3 class="conference-dates">(27-30 May)</h3>
    
    
   
    
    
    
    
    
    
    
    
            -->
                   <div class="center-text larger-text ">
       <h2>2024 (12-15 May)</h2>
    </div>
            
             
             
            
            <h3>Invited Speakers</h3>
    
    
    <span style="font-size: 18px;">
    <ul>
        <li> <a href="https://science.psu.edu/stat/people/jol2" target="_blank">Prof. Jia Li</a> (Penn State University, USA)</li>
        
        
                        <li> 
     <a href="https://statistics.rutgers.edu/people-pages/faculty/people/391-regina-y-liu" target="_blank">Prof. Regina Liu</a> (Rutgers University, USA)
        </li>
        
        
        
        <li> 
        <a href="https://sites.psu.edu/yanyuanma/ " target="_blank">Prof. Yanyuan Ma</a>   (Penn State University, USA)
        </li>
        
        
                <li> 
<a href="https://people.miami.edu/profile/605e4d5a9dea4152e892fae1494cbe6b" target="_blank">Prof. Lan Wang</a> (University of Miami, USA)
        </li>
        
        
                        <li> 
<a href="https://warwick.ac.uk/fac/sci/statistics/staff/academic-research/xu/" target="_blank">Prof. Haotian Xu</a> (University of Warwick, UK)
        </li>



                        <li> 
<a href="https://biostat.wiscweb.wisc.edu/staff/zhao-jiwei/" target="_blank">Prof. Jiwei Zhao</a> (University of University of Wisconsin-Madison, USA)
        </li>

    </ul>            
            
  

</span>

            
            
  
      <h3>Organizers</h3>
      
      
          
    <span style="font-size: 18px;">
    <ul>
        <li> 
        <a href="https://stephaneguerrier.com/" target="_blank">Prof. Stéphane Guerrier</a> (University of Geneva, Switzerland)
        </li>
        
                                <li> 
        <a href="https://www.lucainsolia.com/" target="_blank">Dr. Luca Insolia</a> (University of Geneva, Switzerland)
        </li>
        
        
        
        <li> 
        <a href="https://mucyo.netlify.app/" target="_blank">Dr. Mucyo Karemera</a> (University of Geneva, Switzerland)
        </li>
        
        
                
        <li> 
        <a href="https://samorso.ch" target="_blank">Dr. Samuel Orso</a> (University of Geneva, Switzerland)
        </li>


        
                <li> 
        <a href="https://yumingzhang.com/" target="_blank">Dr. Yuming Zhang</a> (Harvard University, USA)
        </li>

                <li> 
        <a href="https://lionelvoirol.com/" target="_blank">Lionel Voirol</a> (University of Geneva, Switzerland)
        </li>



    </ul>          
    
      </span>
      
      
        <img src="../css/2017_style/img/pic_workshop_2024.jpeg" class="img-responsive img-centered" alt="" style="width: 100%;">

            
            
                    <div class="center-text larger-text ">
         <h2>2023 (27-30 May)</h2>
    </div>
            
            

      
            


    <h3>Invited Speakers</h3>
    
    
    <span style="font-size: 18px;">
    <ul>
        <li> <a href="https://dbmi.hms.harvard.edu/people/tianxi-cai" target="_blank">Prof. Tianxi Cai</a> (Harvard University, USA)</li>
        
        
                        <li> 
     <a href="https://sds.wustl.edu/people/xuming-he" target="_blank">Prof. Xuming He</a> (University of Michigan, USA)
        </li>
        
        
        
        <li> 
        <a href="https://sites.psu.edu/yanyuanma/ " target="_blank">Prof. Yanyuan Ma</a>   (Penn State University, USA)
        </li>
        
        

        
        
        
                <li> 
<a href="http://www.stat.columbia.edu/~zying/" target="_blank">Prof. Zhiliang Ying</a> (Columbia University, USA)
        </li>
        
        
        

    </ul>            
            
  

</span>








  
  
  
      <h3>Organizers</h3>
      
      
          
    <span style="font-size: 18px;">
    <ul>
        <li> 
        <a href="https://stephaneguerrier.com/" target="_blank">Prof. Stéphane Guerrier</a> (University of Geneva, Switzerland)
        </li>
        
                                <li> 
        <a href="https://www.lucainsolia.com/" target="_blank">Dr. Luca Insolia</a> (University of Geneva, Switzerland)
        </li>
        
        
        
        <li> 
        <a href="https://mucyo.netlify.app/" target="_blank">Dr. Mucyo Karemera</a> (University of Geneva, Switzerland)
        </li>
        
        

        
        
        
                
        <li> 
        <a href="https://samorso.ch" target="_blank">Dr. Samuel Orso</a> (University of Geneva, Switzerland)
        </li>
        
        
                <li> 
        <a href="https://www.unibo.it/sitoweb/maria.victoriafeser/en" target="_blank">Prof. Maria-Pia Victoria-Feser</a> (University of Bologna, Italy)
        </li>



        
                <li> 
        <a href="https://yumingzhang.com/" target="_blank">Dr. Yuming Zhang</a> (Harvard University, USA)
        </li>

    </ul>          
    
      </span>
            
            
            
            
            
 
  <img src="../css/2017_style/img/conf23_pic.jpeg" class="img-responsive img-centered" alt="" style="width: 100%;">

    </div>
    
    
    
    
    
    
</section>
       
       


