
<section id="previous_ed" class="bg-light-gray">
       
    <div class="container">
        <div class="col-lg-12 text-center">
              <h2 class="section-heading">Previous Edition</h2>
        </div>
        <!-- Link to a relative image -->
        <p>In 2023, the first edition of the conference hosted four distinguished speakers from renowned universities: Tianxi Cai (Harvard University), Yanyuan Ma (Penn State University), Xuming He (University of Michigan), and Zhiliang Ying (Columbia University), all globally recognized experts in Statistics. They greatly enriched our workshop with their invaluable insights and presentations, contributing to lively discussions and fostering new research directions for all participants, especially our junior researchers.</p>
 
 Find last year's program edition below:
        <img src="../css/2017_style/img/schedule_2023.png" class="img-responsive img-centered" alt="" style="width: 70%;">
        
        
  <img src="../css/2017_style/img/conf23_pic.jpeg" class="img-responsive img-centered" alt="" style="width: 60%;">

    </div>
       

    
</section>
       
       


