
<section id="previous_ed" class="bg-light-gray">
       
    <div class="container">
        <div class="col-lg-12 text-center">
              <h2 class="section-heading">Previous Edition</h2>
        </div>
        <!-- Link to a relative image -->
        <p>
          
              <style>
        /* CSS styles to control the layout */
        .conference-title {
            display: inline-block;
            margin-right: 10px; /* Adjust the spacing between elements */
            font-weight: bold; /* Make the title bold */
        }

        .conference-dates {
            display: inline-block;
            font-size: 1.5em; /* Adjust the font size of the dates */
        }
    </style>

    <h1 class="conference-title">2023</h1>
    <h3 class="conference-dates">(27-30 May)</h3>
            
     
      
            


    <h3>Invited Speakers</h3>
    <ul>
        <li> <a href="https://dbmi.hms.harvard.edu/people/tianxi-cai" target="_blank">Prof. Tianxi Cai</a> (Harvard University)</li>
        
        
                        <li> 
     <a href="https://sds.wustl.edu/people/xuming-he" target="_blank">Prof. Xuming He</a> (University of Michigan)
        </li>
        
        
        
        <li> 
        <a href="https://sites.psu.edu/yanyuanma/ " target="_blank">Prof. Yanyuan Ma</a>   (Penn State University)
        </li>
        
        

        
        
        
                <li> 
<a href="http://www.stat.columbia.edu/~zying/" target="_blank">Prof. Zhiliang Ying</a> (Columbia University)
        </li>
        
        
        

    </ul>            
            
  
  
  
  
      <h3>Organizers</h3>
    <ul>
        <li> 
        <a href="https://www.unige.ch/gsem/en/research/faculty/all/stephane-guerrier/" target="_blank">Prof. Stéphane Guerrier</a> (University of Geneva)
        </li>
        
                                <li> 
        <a href="https://www.lucainsolia.com/" target="_blank">Dr. Luca Insolia</a> (University of Geneva)
        </li>
        
        
        
        <li> 
        <a href="https://mucyo.netlify.app/" target="_blank">Dr. Mucyo Karemera</a> (University of Geneva)
        </li>
        
        

        
        
        
                
        <li> 
        <a href="https://samorso.ch" target="_blank">Dr. Samuel Orso</a> (University of Geneva)
        </li>
        
        
                <li> 
        <a href="https://www.unige.ch/gsem/en/research/faculty/all/maria-pia-victoria-feser/" target="_blank">Prof. Maria-Pia Victoria-Feser</a> (University of Geneva)
        </li>



        
                <li> 
        <a href="https://yumingzhang.com/" target="_blank">Yuming Zhang</a> (University of Geneva)
        </li>

    </ul>            
            
            
            
            
            
 
  <img src="../css/2017_style/img/conf23_pic.jpeg" class="img-responsive img-centered" alt="" style="width: 80%;">

    </div>
       

    
</section>
       
       


