
<section id="schedule" class="bg-light-gray">
       
    <div class="container">
        <div class="col-lg-12 text-center">
              <h2 class="section-heading">Schedule</h2>
        </div>
        <!-- Link to a relative image -->
        <p>The details for this year's event have not been disclosed yet. However, you can find below the program from last year:</p>
        <img src="../css/2017_style/img/schedule_2023.png" class="img-responsive img-centered" alt="">
        
    </div>
       

    
</section>
       
       


