  <style>
        /* CSS to increase font size */
        .larger-text {
            font-size: 20px; /* Adjust the font size as needed */
        
        }
    </style>





<section id="sponsors" class="bg-light-gray">
       
       

       
       <div id = "sponsors">
                 <aside class="clients" class="bg-light-gray">
        <div class="container">
            
         
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
                
                   
                              
                              <!-- Displaying the translated text in a larger font size -->
<div>We extend our gratitude to the SNSF, Innosuisse, the General Fund of the University of Geneva and the University of Geneva for supporting our research. This workshop would not have been possible without their funding.</div>
                            
                      
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.unige.ch/"  target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/unigelogo-black.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                
                 <div class="col-md-4 col-sm-6">
                    <a href="https://www.snf.ch/en" target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/snf.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>

               <div class="col-md-4 col-sm-6">
                    <a href="https://www.innosuisse.ch/inno/en/home.html"  target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/inno2.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                
                
                               <div class="col-md-4 col-sm-6">
                    <a href="https://fgug.ch/"  target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/fondgen2.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                
                
                               <div class="col-md-4 col-sm-6">
                    <a href="https://www.unige.ch/gsem/en/"  target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/gsem.webp" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                
                
                               <div class="col-md-4 col-sm-6">
                    <a href="https://www.unige.ch/sciences/en"  target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/science2.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                
                
                

              
            </div>
        </div>
    </aside>


   
        </div>




    
</section>
       


<!-- Clients Aside -->



    
