<style>
        /* CSS to increase font size */
        .larger-text {
            font-size: 20px; /* Adjust the font size as needed */
        
        }
        

       
</style>





<section class="bg-light-gray">
       
       <div id = "sponsors" >
                 <aside class="clients" class="bg-light-gray">
        <div  class="container">
            
         
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
                
                   
                              
                              <!-- Displaying the translated text in a larger font size -->
<div>
  
  <span style="font-size: 20px;">
  We extend our gratitude to the Swiss National Science Foundation, Harvard University, les Fonds général de l'Université de Genève and l'Université de Genève for supporting our research. This workshop would not have been possible without their funding.
</span>

</div>
                            
                      
            </div>
            <div class="row">
               
                
                 <div class="col-md-4 col-sm-6">
                    <a href="https://www.snf.ch/en" target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/snf.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>

         
                
                
                               <div class="col-md-4 col-sm-6">
                    <a href="https://fgug.ch/"  target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/fondgen2.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                
                
                        
                
                
               <div class="col-md-4 col-sm-6">
                    <a href="https://www.unige.ch/sciences/en"  target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/science2.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                
                
         
                
                
                

              
            </div>
            
           
    
            
               <div class="col-md-4 col-sm-6">
    <a href="https://hms.harvard.edu/" target="_blank" class="portfolio-link" data-toggle="modal">
        <img src="../css/2017_style/img/harvard5.png" class="img-responsive img-centered" alt="" style="display: block; margin: 0 auto; width: 280px; height: auto;">
    </a>
</div>
                
                
        </div>
        
   
    </aside>

    
   
        </div>


       
               
                

    
</section>
       


<!-- Clients Aside -->



    
