<style>
body {
  position: absolute;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              
              
          
<a href="https://github.com/SMAC-Group/stat_conf_24" target="_blank">
    <img src="../css/2017_style/img/git3.png" alt="GitHub Icon" width="50">
</a>

              
                <span class="copyright">© <a href="https://data-analytics-lab.netlify.app/" target="_blank">Data Analytics Lab</a>
 {{ 'now' | date: "%Y" }} 
                
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                  
                    {% comment %}
                    {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
                    {% endfor %}
                    
                      {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
</footer>